<div [@enterLeave]="animate"
     (@enterLeave.done)="animationDone($event, message)"
     (click)="onClick()"
     (mouseenter)="onEnter()"
     (mouseleave)="onLeave()"
     [class]="theClass"
     class="notifier-message {{message.type}}">
    <div class="timer" *ngIf="showProcess">
        <div class="bar" [style.width]="getPercentage()"></div>
    </div>
    <div class="title">{{message.title}}</div>
    <div class="content">{{message.content}}</div>
    <div [innerHTML]="safeSvg"></div>
</div>