<div class="notifier-wrapper"
     [ngClass]="notifierOptions.position">
    <ng2-notifier-message *ngFor="let message of messages$ | async | max: notifierOptions.maxStack"
                          [animate]="notifierOptions.animate"
                          [theClass]="notifierOptions.theClass"
                          [timeDelay]="notifierOptions.timeDelay"
                          [clickToClose]="notifierOptions.clickToClose"
                          [pauseOnHover]="notifierOptions.pauseOnHover"
                          [message]="message"
                          (onRemoveMessage)="removeMessage($event)"></ng2-notifier-message>
</div>